table, th, td
{
	border:3px solid steelblue;
}

body
{
	color:black;
	background-image:url("kl.jpg");
	background-repeat:no-repeat;
	background-size:350px 450px;
	background-position:right top;
	font-size:14pt;
	background-color:white;
}
/*the attributes make the image appear on the top right of the page, and makes it blends in*/

ul
{
	text-align:justify;
}
